html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg");
  background-size: cover; }

.header-wrapper {
  max-width: 1075px;
  margin: 0 auto; }
  .header-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.social-boxes {
  position: relative;
  float: right;
  padding: 0;
  height: 65px; }

.social-box {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 0 3px;
  list-style: none;
  font-size: 2.5em;
  text-align: center;
  line-height: 65px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

.subscribe {
  display: inline-block;
  padding-right: 100px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  text-align: left; }

.bullets {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -25px; }

.bullets > span {
  display: block;
  font-size: 0.2em;
  line-height: 0px;
  margin: 13px;
  color: white;
  vertical-align: middle; }

.facebook {
  background-color: #445897;
  position: relative; }

.rss {
  background-color: #cc9032; }

.twitter {
  background-color: #6a8dc7; }

.youtube {
  background-color: #b2382d; }

.fa {
  color: white;
  opacity: 0.3; }

.nav-boxes {
  max-width: 1075px;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  .nav-boxes::after {
    clear: both;
    content: "";
    display: table; }

.nav-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #b32e2e;
  height: 40px;
  list-style: none;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  color: white;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }
  .nav-box:last-child {
    margin-right: 0; }

.title-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1075px;
  height: 357px;
  border: 10px solid white;
  background-image: url("../assets/top-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

.title-wrapper::before {
  content: "";
  background-image: url(../assets/grid.png);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.title-wrapper-logo {
  position: relative;
  top: 60px;
  left: 30px; }

.nav-buttons {
  padding: 0;
  text-align: center; }

.nav-button {
  list-style: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: white; }

.articles {
  padding: 0;
  margin: 0 auto;
  max-width: 1075px;
  margin-left: auto;
  margin-right: auto; }
  .articles::after {
    clear: both;
    content: "";
    display: table; }

.article {
  list-style: none;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 350px;
  background: white;
  padding: 0 15px 30px 15px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }
  .article:last-child {
    margin-right: 0; }

.article-title {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em; }

.article-date {
  color: #aeaeae;
  font-weight: normal; }

.article > p {
  line-height: 2em;
  overflow: hidden; }

.skater-profiles-wrapper {
  margin: 10px 0;
  padding: 0;
  max-width: 1075px;
  margin-left: auto;
  margin-right: auto; }
  .skater-profiles-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.skater-profiles-wrapper > * {
  display: inline-block; }

.skater-pic {
  background-color: white;
  border: 5px solid white;
  text-align: center;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

.skater-pic-text {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  color: white;
  line-height: 100%;
  text-align: center;
  font-size: 33px;
  text-transform: uppercase;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.skater-large {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  height: 474px; }
  .skater-large:last-child {
    margin-right: 0; }

.skater-large-upper {
  width: 100%;
  margin-bottom: 10px; }
  .skater-large-upper::after {
    clear: both;
    content: "";
    display: table; }

.skater4,
.skater3 {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  height: 232px; }
  .skater4:last-child,
  .skater3:last-child {
    margin-right: 0; }

.skater4 {
  position: relative;
  background: no-repeat right url("../assets/sk8er-4.png"); }

.skateboarders {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -275px;
  background-color: #b32e2e;
  width: 238px;
  height: 97px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  color: white;
  line-height: 97px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

.skateboarders-triangle {
  z-index: 1000;
  height: 0;
  width: 0;
  border-bottom: 48.5px solid transparent;
  border-left: 30px solid #b32e2e;
  border-top: 48.5px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -37px; }

.skateboarders-triangle-shadow {
  height: 0;
  width: 0;
  border-bottom: 48.5px solid transparent;
  border-left: 30px solid rgba(0, 0, 0, 0.3);
  border-top: 48.5px solid transparent;
  position: absolute;
  top: -webkit-calc(50% + 4px);
  top: calc(50% + 4px);
  transform: translateY(-50%);
  left: -37px; }

.skater3 {
  background: no-repeat center url("../assets/sk8er-3.png"); }

.skater-large-lower {
  width: 100%; }

.skater1 {
  height: 232px;
  background: no-repeat center url("../assets/sk8er-1.png"); }

.skater2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  height: 474px;
  line-height: 474px;
  background: no-repeat 200% url("../assets/sk8er-2.png");
  background-position: right; }
  .skater2:last-child {
    margin-right: 0; }

.skateboards-wrapper {
  max-width: 1075px;
  height: 295px;
  margin: 20px auto;
  padding: 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

.skateboards {
  list-style: none;
  display: inline-block;
  margin: 12px 1.5%;
  vertical-align: middle; }

.contact-us-wrapper {
  max-width: 1075px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 22.625em;
  padding: 20px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3); }
  .contact-us-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.contact-us-article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  padding-left: 10px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 2em; }
  .contact-us-article:last-child {
    margin-right: 0; }

.contact-heading {
  font-size: 1.5625em;
  font-weight: normal;
  margin-top: 10px; }

.contact-social-buttons {
  padding: 0; }

.contact-social-button {
  display: inline-block;
  width: 1.875em;
  height: 1.875em;
  list-style: none;
  text-align: center;
  line-height: 1.875em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.contact-us-input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .contact-us-input:last-child {
    margin-right: 0; }

.contact-us-inputs {
  width: 100%; }

.contact-us-inputs > * {
  display: block; }

.contact-input {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 89.41485%;
  height: 2.75em;
  margin: 1.25em 0;
  border: 1px solid #9f9f9f;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 14px; }
  .contact-input:last-child {
    margin-right: 0; }

.your-message {
  resize: none;
  height: 6.75em; }

.submit {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 57.6594%;
  margin-left: 31.75545%;
  background-color: #b32e2e;
  height: 40px;
  border: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase; }
  .submit:last-child {
    margin-right: 0; }
