@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Colors
$bottom-border: rgba(144, 143, 141, .5);
$border-color: rgba(159, 159, 159, 1);
$nav-button: rgba(179, 46, 46, 1);
$background-color: white;
$text-color: white;
$light-text: rgba(174, 174, 174, 1);
$shadow-color: rgba(255, 255, 255, 0.5);
$shadow-color-2: rgba(0, 0, 0, 0.3);
$shadow-color-3: rgba(0, 0, 0, 0.5);
$facebook: rgba(68, 88, 151, 1);
$rss: rgba(204, 144, 50, 1);
$twitter: rgba(106, 141, 199, 1);
$youtube: rgba(178, 56, 45, 1);


// Box-Shadowing
$box-shadow: 0 5px $shadow-color;

// Breakpoints
$mobile: new-breakpoint(max-width 768px 6);

// background image
body {
  background: linear-gradient($shadow-color-3, $shadow-color-3), url('../assets/bg.jpg');
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

// Body container
// Header with the social link buttons
.header-wrapper {
  @include media($mobile) {
    @include clearfix;
    height: 80px;
  }
}

.social-header {
  @include clearfix;
  max-width: 1075px;
  margin: 0 auto;
}

.social-boxes {
  position: relative;
  float: right;
  padding: 0;
  height: 65px;

  @include media($mobile) {
    height: 30px;
  }
}

.social-box {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 0 3px;
  list-style: none;
  font-size: 2.5em;
  text-align: center;
  line-height: 65px;

  box-shadow: 0 4px $shadow-color-2;

  @include media($mobile) {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2em;
  }
}

.subscribe {
  display: inline-block;
  padding-right: 100px;

  font-family: $helvetica;
  font-size: 1em;
  color: $text-color;
  text-transform: uppercase;
  text-align: left;

  @include media($mobile) {
    padding-right: 0;
  }
}

.bullets {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -25px;

  @include media($mobile) {
    height: 0;
    overflow: hidden;
  }
}

.bullets > span {
  display: block;
  font-size: 0.2em;
  line-height: 0px;
  margin: 13px;
  color: $text-color;
  vertical-align: middle;
}

.facebook {
  background-color: $facebook;
  position: relative;
}

.rss {
  background-color: $rss;
}

.twitter {
  background-color: $twitter;
}

.youtube {
  background-color: $youtube;
}

.fa {
  color: $text-color;
  opacity: 0.3;
}

// Navigation boxes
.nav-menu {
  @include outer-container(1075);

  @include media($mobile) {
    position: absolute;
    float: left;
    height: 0;
    line-height: 60px;
    text-align: center;
    font-size: 3em;
    height: 60px;
    left: 30px;
    top: 30px;
  }
}

.fa-bars {
  opacity: 0;
  position: absolute;
  height: 0;

  @include media($mobile) {
  opacity: 1;
  position: relative;
}
}

.nav-boxes {
  @include outer-container(1075px);

  @include media($mobile) {
    @include outer-container(768px);
    position:absolute;
    left: 45px;
    top: -40px;
    height: 0;
    overflow: hidden;
    // height: 250px;
    // z-index: 1000;`
  }
  padding: 0;
}

.nav-menu:hover .nav-boxes{
  height: 250px;
  z-index: 1000;
}

.nav-box-link {
  @include span-columns(3);

  @include media($mobile) {
    width: 400px;
  }
}

.nav-box {
  @include span-columns(3 of 3);
  background-color: $nav-button;
  height: 40px;
  list-style: none;

  font-family: $helvetica;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  color: $text-color;

  box-shadow: 0 4px $shadow-color-2;

  @include media($mobile) {
    display: block;
    height: 60px;
    width: 400px;
    line-height: 60px;
    font-size: 0.5em;
  }
}

// Logo Box
.title-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1075px;
  height: 357px;
  border: 10px solid white;
  background-image: url("../assets/top-image.png");
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 4px $shadow-color-2;
}

.title-wrapper::before {
  content:"";
  background-image: url(../assets/grid.png);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-wrapper-logo {
  position: relative;
  top: 60px;
  left: 30px;
}

// Buttons
.nav-buttons {
  padding: 0;
  text-align: center;
}

.nav-button {
  list-style: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: white;
}

//------ Article -----------//
.articles {
  padding: 0;
  margin: 0 auto;
  @include outer-container(1075px);

  @include media($mobile) {
    @include outer-container(768px);
  }
}

.article {
  list-style: none;
  @include span-columns(4);
  height: 350px;
  background: white;

  padding: 0 15px 30px 15px;

  font-family: $helvetica;

  box-shadow: 0 4px $shadow-color-2;

  @include media($mobile) {
    @include span-columns(5);
    @include shift(0.5);
    margin-bottom: 10px;
  }
}

.article-wrapper {
  height: 300px;
  overflow: hidden;
}

.article-title {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em;
}

.article-date {
  color: $light-text;
  font-weight: normal;
}

.article-wrapper > p {
  line-height: 2em;
  word-break: normal;
}

.article-read {
  color: $nav-button;
  text-align: center;
  text-transform: uppercase;
}

//Profile Pics
.skater-profiles-wrapper {
  margin: 10px 0;
  padding: 0;
  @include outer-container(1075px);

  @include media($mobile) {
    @include outer-container(768px);
  }
}

.skater-profiles-wrapper > * {
  display: inline-block;

  @include media($mobile) {
    display: block;
  }
}

.skater-pic {
  background-color: white;
  border: 5px solid white;
  text-align: center;

  box-shadow: 0 4px $shadow-color-2;
}


.skater-pic-text {
  font-family: $helvetica;
  font-weight: bolder;
  letter-spacing: 5px;
  color: white;
  line-height: 100%;
  text-align: center;
  font-size: 33px;
  text-transform: uppercase;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.skater-large {
  @include span-columns(8);
  height: 474px;

  @include media($mobile) {
    @include span-columns(6);
  }
}

.skater-large-upper {
  @include fill-parent();
  @include clearfix;
  margin-bottom: 10px;

  @include media($mobile) {
    @include fill-parent();
  }
}

.skater4,
.skater3 {
  display: inline-block;
  @include span-columns(4 of 8);
  height: 232px;
}

.skater4 {
  position: relative;
  background: no-repeat right url("../assets/sk8er-4.png");

  @include media($mobile) {
    @include span-columns(3 of 6);
  }
}

.skateboarders {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -275px;

  background-color: $nav-button;
  width: 238px;
  height: 97px;

  font-family: $helvetica;
  font-weight: bolder;
  color: $text-color;
  line-height: 97px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;

  box-shadow: 0 4px $shadow-color-2;
}

.skateboarders-triangle {
  z-index: 1000;
  @include triangle(97px 30px, $nav-button, right);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -37px;
}

.skateboarders-triangle-shadow {
  @include triangle(97px 30px, $shadow-color-2, right);
  position: absolute;
  @include calc(top, "50% + 4px");
  transform: translateY(-50%);
  left: -37px;
}

.skater3 {
  background: no-repeat center url("../assets/sk8er-3.png");

  @include media($mobile) {
    @include span-columns(3 of 6);
    @include omega();
  }
}

.skater-large-lower {
  @include fill-parent();

  @include media($mobile) {
    @include span-columns(6);
  }
}

.skater1 {
  height: 232px;
  background: no-repeat center url("../assets/sk8er-1.png");

  @include media($mobile) {
    @include fill-parent();
  }
}

.skater2 {
  @include span-columns(4);
  @include omega();
  height: 474px;
  line-height: 474px;
  background: no-repeat 200% url("../assets/sk8er-2.png");
  background-position: right;

  @include media($mobile) {
    @include span-columns(6);
    height: 232px;
    margin-top: 10px;
  }
}

// Skateboard Images
.skateboards-wrapper {
  max-width: 1075px;
  height: 295px;
  margin: 20px auto;
  padding: 0;
  text-align: center;

  overflow: hidden;

  background-color: $background-color;

  box-shadow: 0 4px $shadow-color-2;
}

.skateboards {
  list-style: none;
  display: inline-block;
  margin: 12px 1.5%;
  vertical-align: middle;
}

// Contact Us box at the bottom
.contact-us-wrapper {
  @include outer-container(1075px);
  background-color: $background-color;
  height: em(362);
  padding: 20px;

  box-shadow: 0 4px $shadow-color-2;

  @include media($mobile) {
    position: relative;
    height: em(600);
  }
}

.contact-us-article {
  @include span-columns(7);
  padding-left: 10px;

  font-family: $helvetica;
  line-height: 2em;

  @include media($mobile) {
    @include span-columns(6);
  }
}

.contact-heading {
  font-size: em(25);
  font-weight: normal;
  margin-top: 10px;
}

.contact-social-buttons {
  padding: 0;

  @include media($mobile) {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.contact-social-button {
  display: inline-block;
  width: em(30);
  height: em(30);

  list-style: none;
  text-align: center;
  line-height: em(30);
  @include filter(grayscale(100%));

  @include media($mobile) {
    width: 45px;
    height: 45px;
    font-size: 2em;
    line-height: 45px;
  }
}


.contact-us-input {
  @include span-columns(5);

  @include media($mobile) {
    @include span-columns(6);
  }
}

.contact-us-inputs {
  @include fill-parent();
}

.contact-us-inputs > * {
  display: block;
}

.contact-input {
  @include span-columns(4.5 of 5);
  height: em(44);
  margin: em(20) 0;
  border:1px solid $border-color;
  box-shadow: inset 3px 3px $shadow-color-2;

  padding: 5px;
  font-size: 14px;

  @include media($mobile) {
    @include span-columns(5 of 6);
    @include shift(0.5);
  }
}

.your-message {
  resize: none;
  height: em(108);
}

.submit {
  @include span-columns(3 of 5);
  @include shift(1.5);
  background-color: $nav-button;
  height: 40px;
  border: none;

  color: $text-color;
  font-size: 13px;
  text-transform: uppercase;

  @include media($mobile) {
    @include span-columns(3 of 6);
    @include shift(1.5);
  }
}
